@page "/Tecnico/Delete/{TecnicoId:int}"
@inject TecnicoServices tecnicoServices
@inject TiposTecnicosServices tiposTecnicoServices
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Eliminar</PageTitle>
<div class="container">
    <div class="shadow-lg">
        @*Header*@
        <div class="card-header text-center">
            <h3><strong>Eliminar t&eacute;cnico</strong></h3>
        </div>

        @*Body*@
        <div class="card-body">
            <div class="text-center mt-3">
                <h5><strong>¿Está seguro de que desea eliminar este t&eacute;cnico?</strong></h5>
            </div>
            <ul class="mt-4">
                <li><strong>Id: </strong>@Tecnico.TecnicoId</li>
                <li><strong>Nombre: </strong>@Tecnico.Nombres</li>
                <li><strong>Tipo de t&eacute;cnico: </strong>@Tecnico.TiposTecnicos.Descripcion</li>
                <li><strong>Sueldo por Hora: </strong>@Tecnico.SueldoHora</li>
            </ul>
        </div>

        @*Footer*@
        <div class="card-footer text-end mt-3">
            <button type="button" class="btn btn-primary" @onclick="Volver">Volver</button>
            <button type="button" class="btn btn-danger" @onclick="Eliminar">Eliminar</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int TecnicoId { get; set; }
    public Tecnicos Tecnico { get; set; } = new Tecnicos();

    public string Mensaje { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        Tecnico = await tecnicoServices.BuscarTipoTecnico(TecnicoId);

    }

    private async Task Eliminar()
    {
        var Eliminar = await tecnicoServices.Eliminar(Tecnico.TecnicoId);

        if (Eliminar)
        {
            Mensaje = "El tecnico ha sido eliminado correctamente. ";
            navigationManager.NavigateTo("/Tecnicos/Index");
        }

        else
        {
            Mensaje = "No se ha podido eliminar al tecnico. ";
        }
    }

    private void Volver()
    {
        navigationManager.NavigateTo("/Tecnicos/Index");
    }

}
