@page "/"

<PageTitle>Home</PageTitle>


<div class="row">
    <div class="col-4">
        <h5 class="text-start">Alma J. Maria Marte</h5>
        <div class="ms-5">
            <h5>2022-0078</h5>
        </div>
    </div>

    <div class="col-5 text-center">
        <h3><strong>¡Bienvenidos T&eacute;cnicos!</strong></h3>
    </div>
</div>

